.o1a-move {
  position: fixed;
  animation-name: o1a;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes o1a {
  0% {left:-200%; bottom: -200%}
  100% {left:-15%; bottom: -15%}
}

.o1b-move {
  position: fixed;
  animation-name: o1b;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes o1b {
  0% {right:-200%; bottom: -200%}
  100% {right:-15%; bottom: -15%}
}

.o2a-move {
  position: fixed;
  animation-name: o2a;
  animation-duration: 15s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes o2a {
  0% {right:-100%; top: 0%}
  100% {right:100%; top: 60%}
}

.o2b-move {
  position: fixed;
  animation-name: o2b;
  animation-duration: 55s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes o2b {
  0% {left:-50%; top: 30%}
  100% {left:150%; top: 30%}
}

.o3a-move {
  position: fixed;
  animation-name: o3a;
  animation-duration: 15s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

@keyframes o3a {
  0% {left:3%; bottom: -10%}
  100% {left:3%; bottom: 150%}
}

.o3b-move {
  position: fixed;
  animation-name: o3b;
  animation-duration: 20s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

@keyframes o3b {
  0% {right:5%; bottom: -10%}
  100% {right:5%; bottom: 200%}
}

.o4a-move {
  position: fixed;
  animation-name: o4a;
  animation-duration: 8s;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}

@keyframes o4a {
  0% {right:-100%; top: 8%}
  100% {right:150%; top: 8%}
}

.o4b-move {
  position: fixed;
  animation-name: o4b;
  animation-duration: 8s;
  animation-delay: 22s;
  animation-fill-mode: forwards;
}

@keyframes o4b {
  0% {left:-200%; bottom: -100%}
  100% {left:200%; bottom: -100%}
}

.o5a-move {
  position: fixed;
  animation-name: o5a;
  animation-duration: 12s;
  animation-delay: 16s;
  animation-fill-mode: forwards;
}

@keyframes o5a {
  0% {left:38%; top:-100%}
  40% {left:38%; top: 40%}
  100% {left:38%; top:-100%}
}

.o5b-move {
  position: fixed;
  animation-name: o5b;
  animation-duration: 12s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

@keyframes o5b {
  0% {left:38%; bottom: -100%}
  100% {left:38%; bottom: 200%}
}

.z-move {
  position: fixed;
  animation-name: z;
  animation-duration: 4.25s;
  animation-delay: 22.5s;
  animation-fill-mode: forwards;
}

@keyframes z {
  0% {left: 35%;bottom:-200%}
  100% {left:35%;bottom:30%}
}