.tit-move {
  position: fixed;
  animation-name: tit;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes tit {
  0% {left: 10%; top:-10%}
  100% {left: 10%;top:2%}
}

.s1-move {
  position: fixed;
  animation-name: s1;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes s1 {
  0% {left:-10%}
  100% {left:2%}
}

.s2-move {
  position: fixed;
  animation-name: s2;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes s2 {
  0% {left: -4% ;bottom:-200%}
  100% {left:-4%;bottom:-5%}
}